@font-face {
  font-family: "Georgia Regular";
  src: url(assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Arial Regular";
  src: url(assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Georgia Italic";
  src: url(assets/fonts/georgia/georgia-bold-italic.ttf);
}
@font-face {
  font-family: "Arial Italic";
  src: url(assets/fonts/arial/arial-italic.ttf);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia Regular", "Arial Regular", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px auto;
}

.header, .bloks, .footer {
  max-width: 1200px;
  margin: 0px auto;
}

h1 {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 30px 0px 30px 0px;
}
.header a {
  text-decoration: none;
}
.header a:hover .logo .top p {
  color: #292929;
}
.header a:hover .logo .bottom p {
  color: #292929;
}
.header a .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  width: 187px;
  height: 60px;
}
.header a .logo .top .textop {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0px;
}
.header a .logo .bottom .textbot {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #292929;
  margin: -1px 0px 0px 0px;
}
.header .menu {
  display: flex;
  gap: 36px;
}
.header .menu .li {
  list-style-type: none;
}
.header .menu .li a {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}
.header .menu .li a:hover {
  cursor: pointer;
  color: #292929;
  transition: 0.7s;
}
.header .menu .li a.dis {
  pointer-events: none;
  border-bottom: solid 3px #f1cdb3;
  padding: 5px 0px;
  color: #292929;
}

.our-pets {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  margin: 0px -1px 0px 0px;
}
.our-pets .our-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 76px 0px 100px 0px;
}
.our-pets .our-blok .our-h2 {
  max-width: 400px;
}
.our-pets .our-blok .our-h2 h1 {
  margin: 5px 0px -1px 0px;
}
.our-pets .our-blok .carts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.our-pets .our-blok .carts .cart-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 26px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.our-pets .our-blok .carts .cart-wrap .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  padding: 0px 0px 3px 0px;
  width: 270px;
  height: 435px;
  gap: 30px;
  background: #fafafa;
}
.our-pets .our-blok .carts .cart-wrap .cart:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #fff;
  cursor: pointer;
}
.our-pets .our-blok .carts .cart-wrap .cart:hover .text-our button {
  background: #fddcc4;
  transition: 0.7s;
}
.our-pets .our-blok .carts .cart-wrap .cart .img-cart {
  max-width: 270px;
  max-height: 270px;
  border-radius: 9px 9px 0 0;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our .name-dog {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our .name-dog p {
  margin: 0px;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 42px;
  width: 187px;
  height: 52px;
  background: #fafafa;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our button:hover {
  cursor: pointer;
  background: #fddcc4;
}
.our-pets .our-blok .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 340px;
  margin: -3px 0px 0px 0px;
}
.our-pets .our-blok .slider .svg3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  background: #f1cdb3;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  padding: 0px;
}
.our-pets .our-blok .slider .svg3 {
  pointer-events: none;
}
.our-pets .our-blok .slider .but {
  display: flex;
  align-items: center;
}
.our-pets .our-blok .slider .but span {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  margin: -3px 0px 0px 0px;
}
.our-pets .our-blok .slider .but:hover {
  cursor: pointer;
  border-radius: 100%;
  background: #fddcc4;
  stroke: #fddcc4;
  transition: 0.7s;
}
.our-pets .our-blok .slider .but:hover svg {
  stroke: #fddcc4;
}
.our-pets .our-blok .slider .inactive {
  pointer-events: none;
}

.foot {
  display: flex;
  justify-content: center;
  background: url("assets/img/noise_transparent@2x.png"), radial-gradient(279.89% 3373.65% at 0% 0%, rgb(81, 61, 47) 0%, rgb(20, 20, 28) 40%);
}

.footer {
  display: flex;
  align-items: center;
  gap: 160px;
  margin: 39px 0px 0px 3px;
}
.footer .blok1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 278px;
  margin: 0px 0px 40px -1px;
}
.footer .blok1 .title, .footer .blok1 .title2 {
  display: flex;
}
.footer .blok1 .title p, .footer .blok1 .title2 p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #fff;
  margin: 0px;
}
.footer .blok1 .email, .footer .blok1 .tel {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 251px;
}
.footer .blok1 .email a, .footer .blok1 .tel a {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 251px;
  text-decoration: none;
}
.footer .blok1 .email a p, .footer .blok1 .tel a p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0px;
}
.footer .blok1 .email:hover, .footer .blok1 .tel:hover {
  cursor: pointer;
}
.footer .blok1 .email:hover p, .footer .blok1 .tel:hover p {
  color: #fafafa;
  transition: 0.7s;
}
.footer .blok1 .email:hover svg, .footer .blok1 .tel:hover svg {
  fill: #fafafa;
  transition: 0.7s;
}
.footer .blok2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 302px;
  margin: -2px 0px 40px 0px;
}
.footer .blok2 .title2 {
  display: flex;
}
.footer .blok2 .title2 p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #fff;
  margin: 0px;
}
.footer .blok2 .location {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 302px;
  margin: 0px 0px 0px -1px;
}
.footer .blok2 .location a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 302px;
  text-decoration: none;
}
.footer .blok2 .location a p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0px;
}
.footer .img-fot {
  max-height: 310px;
}/*# sourceMappingURL=ourPetsStyle.css.map */