@font-face {
  font-family: "Georgia Regular";
  src: url(assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Arial Regular";
  src: url(assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Georgia Italic";
  src: url(assets/fonts/georgia/georgia-bold-italic.ttf);
}
@font-face {
  font-family: "Arial Italic";
  src: url(assets/fonts/arial/arial-italic.ttf);
}

$color-light-xl: #fff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;
$start-screen-gradient-background: #211f20;
$footer-gradient-background: #211f20;

@mixin font-h2() {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-dark-l;
}

body {
  font-family: "Georgia Regular", "Arial Regular", sans-serif;
  height: 100vh;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0px auto;

}
.header, .bloks, .footer {
  max-width: 1200px;
  margin: 0px auto;
}
.section {
  background: $color-light-xl;
}
h2 {
  @include font-h2();
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 184px;
    height: 60px;
        
    .top {
      p {
        font-family: "Georgia Regular";
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-primary;
        margin: 0px;
      }
    }

    .bottom {
      p {
        font-family: "Arial Regular";
        font-weight: 400;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: $color-light-xl;
        margin: 0px;
      }
    }
  }

  .menu {
    display: flex;
    gap: 35px;

    .li {
      list-style-type: none;
    }

    a{
      font-family: "Arial Regular";
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-s;
      text-decoration: none;
      
    }
  } 
}

.main {
  margin:-90px 0px 0px 0px;
}
.background {
  background: url(/assets/img/noise_transparent@2x.png), radial-gradient(237.5% 311.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 40%);

  .one-section {
    display: flex;
    min-height: 908px; 
    gap: 42px;
    margin:0px auto;
    max-width: 1280px;
  
    .left {
      display: flex;
    
      .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 460px;
        min-height: 322px;
        gap: 42px;
        margin: 150px 0px 0px 40px;

        .title {
          max-width: 310px;
          max-height: 114px;

          h1 {
            font-family: "Georgia Regular";
            font-weight: 200;
            font-size: 44px;
            line-height: 130%;
            color: $color-light-xl;
          }
        }
        .text {
          max-width: 460px;
          max-height: 72px;

          p {
            font-family: "Arial Regular";
            font-weight: 400;
            font-size: 15px;
            line-height: 160%;
            color: $color-dark-s;
          }
        }
        .button {
          border-radius: 100px;
          padding: 15px 40px;
          width: 207px;
          height: 52px;
          background: $color-primary;
          font-family: "Georgia Regular";
          font-weight: 400;
          font-size: 17px;
          line-height: 130%;
          letter-spacing: 0.06em;
          color: $color-dark-3xl;
          margin: 0px;
          border: black; 
        }
      }
    }

    .right {
      display: flex;
      align-items: end;

        img {
        width: 100%;
        }
    }
}
}
.about-bloks{
 text-align: center;
 
  height: 588px;
}
.about {
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
  height: 408px;
  margin: 80px 0px 0px 0px;

  .about-left {
    img{
      width: 100%;
    }
  }

  .about-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
    

    .about-h2 {
      max-width: 370px;
      height: 90px;
      h2 {
        text-align: start;
        margin: 0px;
      }
    }

    .one-text, .two-text {
      font-family: "Arial Regular";
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-xl;
      max-width: 430px;

      p {
        margin: 0px;
      }
    }
  }
}

.our-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 697px;

  .our-h2{
    max-width: 400px;

    h2 {
      margin: 0px;
    }
  }
  
  .carts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    gap:90px;

    .cart {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 9px;
      padding: 0px 0px;
      width: 270px;
      height: 435px;
    

      .img-cart {
        max-width: 270px;
        max-height: 270px;
        border-radius: 9px 9px 0 0;

        img{
        }

      }
      .text-our {
        .name-dog {
          font-family: "Georgia Regular";
          font-weight: 400;
          font-size: 20px;
          letter-spacing: 0.06em;
          text-align: center;
          color: $color-dark-l;

        }
        button {
          border: 2px solid $color-primary;
          border-radius: 100px;
          padding: 15px 45px;
          width: 187px;
          height: 52px;
        }
      }
    } 
  }

  .but-get {

    button {
      border-radius: 100px;
      padding: 15px 45px;
      width: 261px;
      height: 52px;
      background: $color-primary;
    }
  }
}

.help-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px 0px 100px 0px;

  .help-h2 {
    max-width: 308px;
    margin:0px 0px 60px 0px;

    h2 {
      margin: 0px;
    }
  }

  .help-icon {
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1029px;

    div {
      text-align: center;

      p {
        font-family: "Georgia Regular";
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        text-align: center;
        color: $color-dark-l;
      }
    }
  }
}

.contacts-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .left {

  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
    
    .text-h2 {
      max-width: 300px;

      h2 {
        margin: 0px;
        text-align: start;
      }
    }

    .text2 {

      p{
        font-family: "Georgia Regular";
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: $color-dark-l;
        margin: 0px;
       
        }
    }

    .num-cart {
      display: flex;
      flex-direction: row;
      border-radius: 9px;
      padding: 10px 15px;
      width: 349px;
      height: 43px;
      background: $color-primary;

      .num {
        display: flex;
        align-items: center;
        width: 319px;
        gap:14px;

        p {
          font-family: "Georgia Regular";
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: $color-dark-l;
        }
      }
    }

    .text3 {
      p {
        font-family: "Georgia Regular";
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: $color-dark-m;
        margin: 0px;
      }
    }
  }
}



