@media(hover:hover) {
  .container {
    .storyList {
        &:hover {
          cursor: pointer;
          min-width: 40px;
          border-radius: 10px;
          transform: scale(1.1);
          box-shadow: 0 0 10px 5px rgb(55, 253, 0);
        }
    }
    .user {
      img {
        &:hover {
          cursor: pointer;
          filter: drop-shadow(0 0  5px rgb(102, 255, 0));
        }
      }
    }
  
    .wrapModal {
      .modal {
        .butAgain, .butEnd {
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0 0 10px 5px rgb(55, 253, 0);
          }
        }
      }
    }
  
    .userNameModal {
      .userName {
        .removeText {
          .no {
            &:hover {
              cursor: pointer;
              transform: scale(1.05);
              filter: drop-shadow(0 0  7px rgb(249, 3, 3)) ;
            }
          }
        }
  
        .submitName {
          .yes {
            &:hover {
              cursor: pointer;
              transform: scale(1.05);
              filter: drop-shadow(0 0  7px rgb(65, 249, 3)) ;
            }
          }
        }
      }
    }
  
    .main {
      .results {
        .resActive {
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0 0 10px 5px rgb(55, 253, 0);
          }
        }
  
        .butPlay {
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0 0 10px 5px rgb(55, 253, 0);
          }
        } 
  
        .butStop {
          &:hover {
            cursor: pointer;
            transform: scale(1.05);
            box-shadow: 0 0 10px 5px rgb(55, 253, 0);
          }
        }
  
        .disabl {
          &:hover {
            cursor:not-allowed;
          }
        }
      }
  
      .wrapMain {
        .cartFone {
          &:hover {
            cursor: pointer;
            border: 2px solid rgb(151, 251, 57);
            transform: scale(1.1);
          }
        }
  
        .disabl-cart {
          &:hover {
            cursor:not-allowed;
            border: 2px solid rgb(250, 6, 6);
          }
        }
      }
    }
  
    .footer {
      .rs {
        svg {
          &:hover {
            .letter {
              fill: rgb(72, 150, 55);
            }
            animation: foo 2s infinite;
          }
        }
      }
  
      .git {
        svg {
          &:hover {
            animation: foo 2s infinite;
          }
        }
      }
    }
  }
}

body{
  background: url(assets/image/fone3.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100% 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100svh;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
  user-select: none;

  .storyList {
    background: url(assets/image/fone1.jpg);
    background-position: 0;
    background-repeat: no-repeat;
    display: flex;
    text-align: center;
    background-color: white;
    min-width: 60px;
    border-radius: 10px;
    padding: 0 7px 0 5px;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
    box-shadow: 0 0 10px 2px red;

    summary {
      font-size: 20px;
      font-weight: 700;
      user-select: none;
    }

    .story {
      border: 1px solid red;
      text-align: center;
      min-width: 120px;
      border-radius: 5px;
      margin-bottom: 5px; 
      
      .thead {
        background-color: rgb(172, 172, 172);
        font-weight: bold;
      }
      
      tr {
        td {
          padding: 1px 3px;
          border: 1px solid red;
        }
      }
    }
  }

  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    position: absolute;
    right: 15px;
    top: 16px;
    text-align: center;
    z-index: 1;

    img {
      width: 45px;
      filter: drop-shadow(0 0  5px rgb(255, 0, 0));
    }

    .use {
      max-width: 90px;
      color: beige;
      word-wrap: break-word;
      letter-spacing: 1px;
      font-size: 15px;
      overflow: hidden;
      padding: 5px 0 0 0;
      text-shadow: 0 0 5px black;
    }
  }

  .darkModal {
    position: absolute;
    z-index: 2;
    background-color: rgba(123, 123, 123, 0.5);
    height: 100vh;
    width: 100vw;
  }

  .wrapModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(assets/image/mod.jpg);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100% 100%;
    border: 1px solid red;
    box-shadow: 0 0 10px 2px red;
    border-radius: 20px;
    width: 300px;
    min-height: 410px;
    position: absolute;
    top: 18%;
    z-index: 2;
    
    .modal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      padding-bottom: 20px;
      padding-top: 20px;
      
      .smile {
        width: 200px;
        height: 220px;
      }
      .text {
        color: white;
        font-size: 35px;
        text-align: center;
        font-weight: 700;
      }

      .res {
        color: white;
        font-size: 25px;
      }

      .butAgain, .butEnd {
        background-color: rgb(206, 208, 208);
        width: 150px;
        text-align: center;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 700;
        box-shadow: 0 0 10px 2px red;
      }
    }
  }

  .userNameModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(assets/image/mod.jpg);
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 100% 100%;
    border: 1px solid red;
    box-shadow: 0 0 10px 2px red;
    border-radius: 20px;
    width: 350px;
    min-height: 410px;
    position: absolute;
    top: 18%;
    z-index: 2;

    .welcome {
      margin-top: 40px;
      width: 300px;
      height: 240px;
      filter: drop-shadow( 2px 2px 5px white);
    }

    .userName {
      position: absolute;
      bottom: 80px;
      right: 70px;
      
      input {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        width: 210px;
        height: 40px;
        text-align: start;
        border-radius: 20px;
        font-size: 20px;
        box-shadow: 0 0 10px 2px red;
        padding: 0 0 0 10px;
      }

      .noInput {
        box-shadow: 0 0 10px 2px rgb(81, 254, 1);
      }

      .removeText {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 60px;
        left: 50px;
        border: none;
        border-radius: 50%;
        background-color: white;

        .no {
          width: 40px;
          top: 4px;
          right: 0px;
          width: 35px;
          margin: -3px 0 0 -8px;
        }
      }

      .submitName {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 60px;
        right: 50px;
        border: none;
        border-radius: 50%;
        background-color: white;
        
        .yes {
          width: 35px;
          margin: -3px 0 0 -8px;
        }
      }
    }
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
    position: relative;
    padding: 10px 0 0 0;

    .logo {
      height: 100px;
      width: 600px;
    }
  }

  .main {
    display: flex;
    max-width: 1280px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .results {
      display: flex;
      gap: 5vw;
      margin-top: 20px;

      .score, .step {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(206, 208, 208);
        width: 120px;
        height: 30px;
        text-align: start;
        border-radius: 20px;
        font-size: 23px;
        font-weight: 700;
        box-shadow: 0 0 10px 2px red;
      }

      .butRestart {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(206, 208, 208);
        width: 120px;
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: start;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 700;
        box-shadow: 0 0 10px 2px red;
        gap:5px;
        border: none;

        .imgRestart {
          width: 25px;
        }
      }

      .butPlay {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(206, 208, 208);
        width: 120px;
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: start;
        border-radius: 20px;
        font-size: 20px;
        font-weight: 700;
        box-shadow: 0 0 10px 2px red;
        gap:5px;
        border: none;

        .imgPlay {
          width: 30px;
          padding: 0 10px 0 0;
        }
      } 

      .butStop {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(206, 208, 208);
        width: 120px;
        height: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: start;
        border-radius: 20px;
        font-size: 17px;
        font-weight: 700;
        box-shadow: 0 0 10px 2px red;
        gap:5px;
        border: none;

        .imgStop {
          width: 25px;
          padding: 0 0px 0 0;
        } 
      }

      .disabl {
        box-shadow: 0 0 10px 2px rgb(219, 213, 213);
        background: url(assets/image/fone3.jpg);
        color: rgb(173, 170, 170);
      }
    }

    .wrapMain {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      max-width: 990px;
      margin-top: 2.8vw;

      .cartFone {
        width: 122px;
        height: 122px;
        border-radius: 10px;
        border: 2px solid rgb(237, 86, 86);
        box-shadow: 0 0 5px 5px rgb(148, 146, 146);
        transition: all 0.5s;
      }

      .disabl-cart {
        width: 122px;
        height: 122px;
        border-radius: 10px;
        border: 2px solid rgb(140, 142, 143);
        box-shadow: 0 0 5px 5px rgb(35, 33, 33);
        transition: all 0.5s;
        color: rgb(173, 170, 170);
      }
    }
  }

  .footer {
    max-width: 1280px;
    display: flex;
    width: 96vw;
    align-items: center;
    z-index: 1;
    bottom: 5px;
    justify-content: space-between;
    margin: 15px 0 5px 0;

    .rs {
      svg {
        width: 50px;
        fill: rgba(0, 0, 0, 0.9);
        box-shadow: inset 0 0 100px white;
        border-radius: 50%;
        animation: foot 2s infinite;
      }
    }

    .year {
      color: rgb(0, 0, 0);
      text-shadow: 1px 1px 5px  black;
      font-size: 25px;
      font-weight: 700;
      user-select: none;
    }

    .git {
      svg {
        width: 50px;
        fill: rgba(0, 0, 0, 0.9);
        box-shadow: inset 0 0 100px white;
        border-radius: 50%;
        animation: foot 2s infinite;
      }
    }

    @keyframes foot {
      0% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgb(235, 7, 7), inset 0 0 100px white;;

      }
      50% {
        scale: (1);
        box-shadow:  0 0 0 7px rgba(123, 123, 123, 0.5), inset 0 0 100px white;;
      }
      100% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgba(191, 4, 4, 0.2), inset 0 0 100px white;;
      }
    }

    @keyframes foo {
      0% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgb(136, 139, 136), inset 0 0 100px rgb(72, 150, 55);
      }
      50% {
        scale: (1);
        box-shadow:  0 0 0 7px green, inset 0 0 100px rgb(72, 150, 55);
      }
      100% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgb(136, 136, 136), inset 0 0 100px rgb(72, 150, 55);
      }
    }
  }
}

@media(max-width: 950px) {
  .container {
    .header {
      width: 70vw;
    }

    .main {
      min-height: 55vw;
      .wrapMain {
        max-width: 85vw;
        gap: 4vw 2vw;
        margin-top: 2.8vw;
  
        .cartFone {
          width: 12vw;
          height: 12vw;
        }
  
        .disabl-cart {
          width: 12vw;
          height: 12vw;
        }
      }
    }
  }
}


@media(max-width: 700px) {
  .container {
    .header {
      width: 60vw;
      .logo {
        height: 14vw;
        width: 600px;
      }
    }
  
    .main {
      min-height: 65vw;
      .wrapMain {
        max-width: 77vw;
        gap: 2vw 2vw;
        margin-top: 2.8vw;
  
        .cartFone {
          width: 13vw;
          height: 13vw;
        }
  
        .disabl-cart {
          width: 13vw;
          height: 13vw;
        }
      }
    }
  }
}

@media(max-width: 620px) {
  .container {
    .storyList {
      min-width: 60px;

      summary {
        font-size: 3vw;
      }
    }
  
    .user {
      max-width: 10vw;
  
      img {
        width: 7vw;
      }
  
      .use {
        max-width: 10vw;
        letter-spacing: 0.2px;
        font-size: 2.5vw;
      }
    }
  
    .wrapModal {
      width: 55vw;
      min-height: 300px;
      top: 20%;
      
      .modal {
        padding: 10px 0 20px 0;
        .smile {
          width: 30vw;
          height: 33vw;
        }
        .text {
          font-size: 7vw;
        }
  
        .res {
          font-size: 5vw;
        }
  
        .butAgain, .butEnd {
          width: 27vw;
          font-size: 4vw;
          line-height: 2;
        }
      }
    }
  
    .userNameModal {
      width: 280px;
      min-height: 360px;
      top: 20%;
  
      .welcome {
        margin-top: 20px;
        width: 250px;
        height: 200px;
      }
  
      .userName {
        bottom: 80px;
        right: 31px;
        
        input {
          width: 200px;
        }
      }
    }
  
    .header {
      width: 60vw;
      padding: 10px 0 0 0;
  
      .logo {
        height: 14vw;
        width: 600px;
      }
    }
  
    .main {
      min-height: 65vw;
      
      .results {
        gap: 3vw;
        margin-top: 1vw;
        margin-bottom: 2vw;
  
        .score, .step {
          width: 16vw;
          height: 4vw;
          font-size: 3vw;
        }
  
        .butRestart {
          width: 16vw;
          height: 4vw;
          font-size: 2.5vw;
          gap:5px;
  
          .imgRestart {
            width: 3vw;
          }
        }
  
        .butPlay {
          width: 16vw;
          height: 4vw;
          border-radius: 20px;
          font-size: 2.5vw;
          gap:2px;
  
          .imgPlay {
            width: 3.6vw;
            padding: 0 10px 0 0;
          }
        } 
  
        .butStop {
          width: 16vw;
          height: 4vw;
          border-radius: 20px;
          font-size: 2.1vw;
          font-weight: 700;
          gap:3px;
  
          .imgStop {
            width: 3vw;
            padding: 0 0px 0 0;
          } 
        }
      }
  
      .wrapMain {
        max-width: 77vw;
        gap: 2vw 2vw;
        margin-top: 2.8vw;
  
        .cartFone {
          width: 13vw;
          height: 13vw;
        }
  
        .disabl-cart {
          width: 13vw;
          height: 13vw;
        }
      }
    }
  
    .footer {
      width: 95vw;
      bottom: 5px;
      margin: 2vw 0 5px 0;
  
      .rs {
        svg {
          width: 8vw;
        }
      }
  
      .year {
        font-size: 4vw;
        font-weight: 700;
      }
  
      .git {
        svg {
          width: 8vw;
        }
      }
    }
  }
}

@media(max-width: 550px) {
  .container {
    .storyList {
      min-width: 3vw;
      padding: 1px 5px 1px 4px;
      left: auto;
      right: 9px;
      top: 80px;

      summary {
        font-size: 2.5vw;
      }
    }

    .user {
      .use {
        max-width: 60px;
        letter-spacing: 0.6px;
        font-size: 10px;
        padding: 1px 0 0 0;
      }
    }
  
    .main {
      .results {
        gap: 3vw 6vw;
        margin-top: -20px;
        margin-bottom: 2vw;
        flex-wrap: wrap;
        width: 220px;
        justify-content: center;
  
        .score, .step {
          width: 16vw;
          height: 4vw;
          font-size: 3vw;
        }
  
        .butRestart {
          width: 16vw;
          height: 4vw;
          font-size: 2.5vw;
          gap:5px;
  
          .imgRestart {
            width: 3vw;
          }
        }
  
        .butPlay {
          width: 16vw;
          height: 4vw;
          border-radius: 20px;
          font-size: 2.5vw;
          gap:2px;
  
          .imgPlay {
            width: 3.6vw;
            padding: 0 10px 0 0;
          }
        } 
  
        .butStop {
          width: 16vw;
          height: 4vw;
          border-radius: 20px;
          font-size: 2.1vw;
          font-weight: 700;
          gap:3px;
        }
      }
  
      .wrapMain {
        max-width: 92vw;
        gap: 2.5vw;
        margin-top: 2.8vw;
  
        .cartFone {
          width: 70px;
          height: 70px;
        }
  
        .disabl-cart {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

@media(max-width: 450px) {
  .container {
    .storyList {
      min-width: 3vw;
      padding: 2px 5px 2px 4px;
      left: auto;
      right: 11px;
      top: 70px;

      summary {
        font-size: 2.7vw;
      }
    }
  
    .main {
      .results {
        gap: 3vw 6vw;
        margin-top: 3px;
        margin-bottom: 5px;
        flex-wrap: wrap;
        width: 220px;
        justify-content: center;
  
        .score, .step {
          width: 65px;
          height: 15px;
          font-size: 12px;
        }
  
        .butRestart {
          width: 75px;
          height: 25px;
          font-size: 10px;
          gap:3px;
  
          .imgRestart {
            width: 13px;
          }
        }
  
        .butPlay {
          width: 75px;
          height: 25px;
          font-size: 10px;
          gap:1px;
  
          .imgPlay {
            width: 17px;
            padding: 0 10px 0 0;
          }
        } 
  
        .butStop {
          width: 75px;
          height: 25px;
          font-size: 9.5px;
          font-weight: 700;
          gap:2px;
        }
      }
  
      .wrapMain {
        max-width: 68vw;
        gap: 2.5vw;
        margin-top: 2.8vw;
  
        .cartFone {
          width: 70px;
          height: 70px;
        }
  
        .disabl-cart {
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}

