@media (hover: hover) {
  .footer .rs svg:hover {
    animation: foo 2s infinite;
  }
  .footer .rs svg:hover .letter {
    fill: rgb(49, 179, 6);
  }
  @keyframes foo {
    0% {
      scale: 0.9;
      box-shadow: 0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
    }
    50% {
      scale: 1;
      box-shadow: 0 0 0 7px green, inset 0 0 100px rgb(49, 179, 6);
    }
    100% {
      scale: 0.9;
      box-shadow: 0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
    }
  }
  .footer .git svg:hover {
    animation: foo 2s infinite;
  }
  @keyframes foo {
    0% {
      scale: 0.9;
      box-shadow: 0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
    }
    50% {
      scale: 1;
      box-shadow: 0 0 0 7px green, inset 0 0 100px rgb(49, 179, 6);
    }
    100% {
      scale: 0.9;
      box-shadow: 0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
    }
  }
}
body {
  height: 100vh;
  background: url(assets/image/fone3.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100% 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}
.container .darkModal {
  position: absolute;
  z-index: 2;
  background-color: rgba(123, 123, 123, 0.5);
  height: 100vh;
  width: 100vw;
}
.container .wrapModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(assets/image/mod.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 100% 100%;
  border: 1px solid red;
  box-shadow: 0 0 10px 2px red;
  border-radius: 20px;
  width: 300px;
  min-height: 410px;
  position: absolute;
  top: 20%;
  z-index: 2;
}
.container .wrapModal .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.container .wrapModal .modal .smile {
  width: 200px;
  height: 220px;
}
.container .wrapModal .modal .text {
  color: white;
  font-size: 35px;
  text-align: center;
  font-weight: 700;
}
.container .wrapModal .modal .butAgain, .container .wrapModal .modal .butEnd {
  background-color: rgb(206, 208, 208);
  width: 150px;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  box-shadow: 0 0 10px 2px red;
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
}
.container .header .logo {
  height: 100px;
  width: 600px;
}
.container .main .wrapMain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1280px;
}
.container .main .wrapMain img {
  width: 100px;
  border-radius: 10px;
  border: 2px solid rgb(237, 86, 86);
  box-shadow: 0 0 5px 5px rgb(148, 146, 146);
}
.container .main .wrapMain img:hover {
  cursor: pointer;
  border: 2px solid rgb(151, 251, 57);
  transform: scale(1.1);
  transition: all 0.7s;
}
.container .footer {
  max-width: 1280px;
  display: flex;
  width: 96vw;
  align-items: center;
  z-index: 1;
  bottom: 5px;
  justify-content: space-between;
  margin: 15px 0 5px 0;
}
.container .footer .rs svg {
  width: 50px;
  fill: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 100px white;
  border-radius: 50%;
  animation: foot 2s infinite;
}
.container .footer .year {
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px black;
  font-size: 25px;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .footer .git svg {
  width: 50px;
  fill: rgba(0, 0, 0, 0.9);
  box-shadow: inset 0 0 100px white;
  border-radius: 50%;
  animation: foot 2s infinite;
}
@keyframes foot {
  0% {
    scale: 0.9;
    box-shadow: 0 0 0 1px rgba(123, 123, 123, 0.1), inset 0 0 100px white;
  }
  50% {
    scale: 1;
    box-shadow: 0 0 0 7px rgba(123, 123, 123, 0.5), inset 0 0 100px white;
  }
  100% {
    scale: 0.9;
    box-shadow: 0 0 0 1px rgba(123, 123, 123, 0.2), inset 0 0 100px white;
  }
}/*# sourceMappingURL=style.css.map */