@media(hover:hover) {
  .container {
    .footer {
      .rs {
        svg {
          &:hover {
            animation: foo 2s infinite;
            .letter {
              fill:rgb(49, 179, 6)
            }
            @keyframes foo {
              0% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
        
              }
              50% {
                scale: (1);
                box-shadow:  0 0 0 7px green, inset 0 0 100px rgb(49, 179, 6);
              }
              100% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
              }
            }
          }
        }
      }
      .git {
        svg {
          &:hover {
            animation: foo 2s infinite;
            @keyframes foo {
              0% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
        
              }
              50% {
                scale: (1);
                box-shadow:  0 0 0 7px green, inset 0 0 100px rgb(49, 179, 6);
              }
              100% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
              }
            }
          }
        }
      }
    }
  }
}



body {
  margin: 0 auto;
}

.container{
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url(/assets/fone.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: 100% 100%;
  min-height: 100vh;
  
  .wrap {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    z-index: 11;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    // display: none;
  }

  .wrapModal {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background: rgba(41, 41, 41, 0.6);
    top: 0px;
    // display: none;

    .modal {
      position: relative;
      display: flex;
      flex-direction: column;
      width: auto;
      height: auto;
      padding: 0px 10px 0px 0px;
      margin: auto;

      .krest {
        position: absolute;
        width: 50px;
        right: 20px;
        top: 10px;

        &:hover {
          cursor: pointer;
          transform: rotate(180deg) scale(1.1);
          transition: all 1s;
        }
      }
     
        .modalImg {
          border: 4px solid rgb(140, 140, 140);
        }
       
    }
    
    // .img {
    //   height: 300px;
    //   width: 200px;
    // }

  }

}
  
  .header {
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96vw;
    height: 100px;
    margin: 20px auto;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap:30px;

      .fotic {
          width: 90px;
          height: 80px;
      }

      .imgLogo {
          width: 600px;
          height: 100px;
      }
    }

    .inputArea {
      position: relative;
      .searchArea {
        padding: 0 0 0 10px;
        width: 400px;
        height: 50px;
        border-radius: 15px;
        font-size: 25px;
      }

      button {
        position: absolute;
        top: 5px;
        right: 3px;
        border: none;
        background-color: white;
        width: 55px;
        height: 45px;
        border-radius: 10px;
        &:hover {
          cursor: pointer;
        }

        .lupa {
          width: 45px;
          height: 45px;

          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .krestLup {
        position: absolute;
        width: 43px;
        height: 43px;
        right: 58.2px;
        top: 3.3px;
        padding: 1px 1px;
        border-radius: 30px;
        background-color: rgb(255, 255, 255);

        &:hover {
          cursor: pointer;
          transform: rotate(180deg);
          transition: all 1s;
        }
      }

    }
  }

  .main {
    max-width: 1280px;
    display: flex;
  
    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px 30px;
      align-items: center;

      .divError {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        .textError {
          font-size: 35px;
          color: rgb(255, 1, 1);
          font-weight: bold;
          background-color: rgb(161, 161, 161);
          width: 100%;
          padding: 20px;
          border-radius: 20px;
        }
      }

      img {
        border: 4px solid rgb(140, 140, 140);
        border-radius: 10px;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }

  .footer {
    max-width: 1280px;
    display: flex;
    width: 96vw;
    // position: absolute;
    align-items: center;
    z-index: 10;
    bottom: 5px;
    justify-content: space-between;
    margin: 15px 0 5px 0;

    .rs {
      svg {
        width: 50px;
        fill: rgba(0, 0, 0, 0.9);
        box-shadow: inset 0 0 100px white;
        border-radius: 50%;
        animation: foot 2s infinite;
      }
    }

    .year {
      color: rgb(0, 0, 0);
      text-shadow: 1px 1px 5px  black;
      font-size: 25px;
      font-weight: 700;
      user-select: none;
    }

    .git {
      svg {
        width: 50px;
        fill: rgba(0, 0, 0, 0.9);
        box-shadow: inset 0 0 100px white;
        border-radius: 50%;
        animation: foot 2s infinite;
      }
    }

    @keyframes foot {
      0% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgba(123, 123, 123, 0.1), inset 0 0 100px white;;

      }
      50% {
        scale: (1);
        box-shadow:  0 0 0 7px rgba(123, 123, 123, 0.5), inset 0 0 100px white;;
      }
      100% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgba(123, 123, 123, 0.2), inset 0 0 100px white;;
      }
    }
  }

