@font-face {
  font-family: "Georgia Regular";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Arial Regular";
  src: url(../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Georgia Italic";
  src: url(../assets/fonts/georgia/georgia-bold-italic.ttf);
}
@font-face {
  font-family: "Arial Italic";
  src: url(../assets/fonts/arial/arial-italic.ttf);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia Regular", "Arial Regular", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px auto;
}

.header, .bloks, .footer {
  max-width: 1200px;
  margin: 0px auto;
}

h1 {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 30px 0px 30px 0px;
}
.header a {
  text-decoration: none;
}
.header a:hover .logo .top p {
  color: #292929;
}
.header a:hover .logo .bottom p {
  color: #292929;
}
.header a .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  width: 187px;
  height: 60px;
}
.header a .logo .top .textop {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0px;
}
.header a .logo .bottom .textbot {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #292929;
  margin: -1px 0px 0px 0px;
}
.header nav {
  display: flex;
  align-items: center;
}
.header nav .burg {
  display: none;
  flex-direction: column;
  width: 30px;
  height: 22px;
  gap: 8.5px;
}
.header nav .burg span {
  border: 1.5px solid #f1cdb3;
  width: 28px;
  height: 0px;
}
.header nav .menu {
  display: flex;
  gap: 36px;
}
.header nav .menu .li {
  list-style-type: none;
}
.header nav .menu .li a {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
}
.header nav .menu .li a:hover {
  cursor: pointer;
  color: #292929;
  transition: 0.7s;
}
.header nav .menu .li a.dis {
  pointer-events: none;
  border-bottom: solid 3px #f1cdb3;
  padding: 5px 0px;
  color: #292929;
}

.our-pets {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  margin: 0px -1px 0px 0px;
}
.our-pets .our-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 76px 0px 100px 0px;
}
.our-pets .our-blok .our-h2 {
  max-width: 400px;
}
.our-pets .our-blok .our-h2 h1 {
  margin: 5px 0px -1px 0px;
}
.our-pets .our-blok .carts {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.our-pets .our-blok .carts .cart-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 26px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.our-pets .our-blok .carts .cart-wrap .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  padding: 0px 0px 3px 0px;
  width: 270px;
  height: 435px;
  gap: 30px;
  background: #fafafa;
}
.our-pets .our-blok .carts .cart-wrap .cart:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #fff;
  cursor: pointer;
}
.our-pets .our-blok .carts .cart-wrap .cart:hover .text-our button {
  background: #fddcc4;
  border-color: #fddcc4;
  transition: 0.7s;
}
.our-pets .our-blok .carts .cart-wrap .cart .img-cart {
  max-width: 270px;
  max-height: 270px;
  border-radius: 9px 9px 0 0;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our .name-dog {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our .name-dog p {
  margin: 0px;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 42px;
  width: 187px;
  height: 52px;
  background: #fafafa;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-pets .our-blok .carts .cart-wrap .cart .text-our button:hover {
  cursor: pointer;
  background: #fddcc4;
}
.our-pets .our-blok .slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  max-width: 340px;
  margin: -3px 0px 0px 0px;
}
.our-pets .our-blok .slider .svg3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 14px 21px;
  width: 52px;
  height: 52px;
  background: #f1cdb3;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  padding: 0px;
}
.our-pets .our-blok .slider .svg3 {
  pointer-events: none;
}
.our-pets .our-blok .slider .but {
  display: flex;
  align-items: center;
}
.our-pets .our-blok .slider .but span {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #292929;
  margin: -3px 0px 0px 0px;
}
.our-pets .our-blok .slider .but:hover {
  cursor: pointer;
  border-radius: 100%;
  background: #fddcc4;
  stroke: #fddcc4;
  transition: 0.7s;
}
.our-pets .our-blok .slider .but:hover svg {
  stroke: #fddcc4;
}
.our-pets .our-blok .slider .inactive {
  pointer-events: none;
}

.foot {
  display: flex;
  justify-content: center;
  background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(279.89% 3373.65% at 0% 0%, rgb(81, 61, 47) 0%, rgb(20, 20, 28) 40%);
}

.footer {
  display: flex;
  align-items: center;
  gap: 160px;
  margin: 39px 0px 0px 3px;
}
.footer .blok1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 278px;
  margin: 0px 0px 40px -1px;
}
.footer .blok1 .title, .footer .blok1 .title2 {
  display: flex;
}
.footer .blok1 .title p, .footer .blok1 .title2 p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #fff;
  margin: 0px;
}
.footer .blok1 .email, .footer .blok1 .tel {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 251px;
}
.footer .blok1 .email a, .footer .blok1 .tel a {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 251px;
  text-decoration: none;
}
.footer .blok1 .email a p, .footer .blok1 .tel a p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0px;
}
.footer .blok1 .email:hover, .footer .blok1 .tel:hover {
  cursor: pointer;
}
.footer .blok1 .email:hover p, .footer .blok1 .tel:hover p {
  color: #fafafa;
  transition: 0.7s;
}
.footer .blok1 .email:hover svg, .footer .blok1 .tel:hover svg {
  fill: #fafafa;
  transition: 0.7s;
}
.footer .blok2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 302px;
  margin: -2px 0px 40px 0px;
}
.footer .blok2 .title2 {
  display: flex;
}
.footer .blok2 .title2 p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #fff;
  margin: 0px;
}
.footer .blok2 .location {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 302px;
  margin: 0px 0px 0px -1px;
}
.footer .blok2 .location a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 302px;
  text-decoration: none;
}
.footer .blok2 .location a p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0px;
}
.footer .img-fot {
  max-height: 310px;
}

@media (max-width: 1279px) {
  .header, .bloks, .footer {
    max-width: calc(100vw - 60px);
    margin: 0px 30px;
  }
  .our-pets .our-blok {
    gap: 3vw;
    margin: 6vw 0px 7vw 0px;
  }
  .our-pets .our-blok .carts {
    width: 100vw;
  }
  .our-pets .our-blok .carts .cart-wrap {
    row-gap: 26px;
    -moz-column-gap: 2vw;
         column-gap: 2vw;
  }
  .our-pets .our-blok .carts .cart-wrap .cart {
    width: 21vw;
    height: 100%;
    padding-bottom: 7%;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .img-cart img {
    width: 21vw;
  }
  .our-pets .our-blok .slider {
    margin: 15px 0px 0px 0px;
  }
  .footer {
    gap: calc(12vw - 60px);
    margin: 39px 0px 0px 0px;
  }
  .footer .blok1 {
    flex-shrink: 50;
  }
  .footer .blok2 {
    flex-shrink: 7;
  }
  .footer .img-fot {
    display: flex;
    align-self: flex-end;
    flex-shrink: 2;
  }
  .footer .img-fot img {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .our-pets {
    margin: 0px -1px 0px 0px;
    height: 1603px;
  }
  .our-pets .our-blok {
    gap: 3wv;
    margin: 76px 0px 100px 0px;
  }
  .our-pets .our-blok .our-h2 {
    max-width: 400px;
  }
  .our-pets .our-blok .our-h2 h1 {
    margin: 5px 0px -1px 0px;
  }
  .our-pets .our-blok .carts {
    width: 100vw;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }
  .our-pets .our-blok .carts .cart-wrap {
    display: flex;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 26px;
    -moz-column-gap: 2.5vw;
         column-gap: 2.5vw;
  }
  .our-pets .our-blok .carts .cart-wrap .cart {
    border-radius: 9px;
    padding: 0px 0px 3px 0px;
    width: 28vw;
    height: 435px;
    gap: 30px;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .img-cart {
    max-width: 270px;
    max-height: 270px;
    border-radius: 9px 9px 0 0;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .img-cart img {
    width: 28vw;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .text-our {
    gap: 30px;
  }
  .our-pets .our-blok .slider {
    gap: 20px;
    max-width: 340px;
    margin: -3px 0px 0px 0px;
  }
  .our-pets .our-blok .slider .svg3 {
    border-radius: 100px;
    padding: 14px 21px;
    width: 52px;
    height: 52px;
    padding: 0px;
  }
  .our-pets .our-blok .slider .but span {
    margin: -3px 0px 0px 0px;
  }
  .footer {
    gap: calc(12vw - 60px);
    margin: 39px 0px 0px 0px;
  }
  .footer .blok1 {
    flex-shrink: 50;
  }
  .footer .blok2 {
    flex-shrink: 7;
  }
  .footer .img-fot {
    display: flex;
    align-self: flex-end;
    flex-shrink: 2;
  }
  .footer .img-fot img {
    width: 100%;
  }
}
@media (max-width: 855px) {
  .our-pets .our-blok .carts {
    width: 100vw;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }
  .our-pets .our-blok .carts .cart-wrap {
    display: flex;
    width: 100vw;
    height: 1365px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 26px;
    -moz-column-gap: 2.5vw;
         column-gap: 2.5vw;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .img-cart {
    max-width: 270px;
    max-height: 270px;
    border-radius: 9px 9px 0 0;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .img-cart img {
    width: 28vw;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .text-our {
    gap: 30px;
  }
  .our-pets .our-blok .slider {
    gap: 20px;
    max-width: 340px;
    margin: -3px 0px 0px 0px;
  }
  .our-pets .our-blok .slider .svg3 {
    border-radius: 100px;
    padding: 14px 21px;
    width: 52px;
    height: 52px;
    padding: 0px;
  }
  .our-pets .our-blok .slider .but span {
    margin: -3px 0px 0px 0px;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 13vw;
  }
}
@media (max-width: 768px) {
  .header {
    width: 708px;
  }
  .header .menu {
    gap: 36.1px;
    margin: -3px 0px 0px 0px;
  }
  .our-pets {
    margin: 0px -1px 0px 0px;
    height: 1603px;
  }
  .our-pets .our-blok {
    gap: 3wv;
    margin: 76px 0px 100px 0px;
  }
  .our-pets .our-blok .our-h2 {
    max-width: 400px;
  }
  .our-pets .our-blok .our-h2 h1 {
    margin: 5px 0px -1px 0px;
  }
  .our-pets .our-blok .carts {
    width: 100vw;
    padding: 0px;
    margin: 0px 0px 0px 0px;
  }
  .our-pets .our-blok .carts .cart-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    -moz-column-gap: 40px;
         column-gap: 40px;
    width: 580px;
  }
  .our-pets .our-blok .carts .cart-wrap .cart {
    border-radius: 9px;
    padding: 0px 0px 3px 0px;
    width: 270px;
    height: 435px;
    gap: 30px;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .img-cart {
    max-width: 270px;
    max-height: 270px;
    border-radius: 9px 9px 0 0;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .img-cart img {
    width: 270px;
  }
  .our-pets .our-blok .carts .cart-wrap .cart .text-our {
    gap: 30px;
  }
  .our-pets .our-blok .slider {
    gap: 20px;
    max-width: 340px;
    margin: -3px 0px 0px 0px;
  }
  .our-pets .our-blok .slider .svg3 {
    border-radius: 100px;
    padding: 14px 21px;
    width: 52px;
    height: 52px;
    padding: 0px;
  }
  .our-pets .our-blok .slider .but span {
    margin: -3px 0px 0px 0px;
  }
  .footer {
    gap: 61px;
    margin: 30.5px 0px 0px 0px;
  }
  .footer .img-fot {
    margin: -38px 0px 0px 0px;
  }
}
@media (max-width: 767.5px) {
  .header, .bloks, .footer {
    width: calc(100vw - 40px);
    margin: 0px 20px;
  }
  .header {
    max-width: 727px;
  }
  .header nav .burg {
    display: flex;
  }
  .header nav .menu {
    display: none;
  }
  .background .one-section {
    margin: 0px 20px 0px 20px;
  }
  .background .one-section .right {
    height: 100%;
  }
  .about {
    margin: 0px 0px 0px 0px;
  }
  .about .about-right .about-h2 h2 {
    text-align: center;
  }
  .our-blok {
    gap: 60px;
  }
  .our-blok .carts {
    max-width: calc(100vw - 200px);
    gap: 4vw;
  }
  .our-blok .carts .cart-wrap {
    overflow: hidden;
    gap: 7vw;
    max-width: 470px;
    margin: 0px 0px 0px 3vw;
  }
  .our-blok .carts .cart-wrap .cart .img-cart {
    width: 27vw;
  }
  .our-blok .carts .cart-wrap .cart .img-cart img {
    width: 100%;
  }
  .our-blok .slid {
    gap: calc(100vw - 176px);
  }
  .help {
    margin: 42px auto 7px auto;
  }
  .help .help-blok .help-icon {
    gap: 7.8vw;
    margin: -2px 0px 42px 0px;
  }
  .help .help-blok .help-icon div {
    width: 22.2vw;
    margin: 0px 0px -8px 0px;
  }
  .contacts1 {
    height: 100%;
  }
  .contacts1 .contacts-blok {
    margin: 42px 20px 42px 20px;
  }
  .footer {
    gap: 5vw;
    margin: 42px 0px 0px 0px;
  }
}
@media (max-width: 650px) {
  .our-blok .carts {
    max-width: calc(100vw - 200px);
  }
  .our-blok .carts .cart-wrap {
    gap: 40px;
    max-width: 270px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 3px 0px;
    justify-content: space-around;
  }
  .our-blok .carts .cart-wrap .cart {
    height: 435px;
  }
  .our-blok .carts .cart-wrap .cart .img-cart {
    width: 270px;
    max-height: 270px;
    border-radius: 9px 9px 0 0;
  }
  .help {
    margin: 42px auto 7px auto;
  }
  .help .help-blok .help-icon {
    gap: 9.2vw;
    margin: -2px 0px 42px 0px;
  }
  .help .help-blok .help-icon div {
    width: 130px;
  }
}
@media (max-width: 450px) {
  .our-blok .slid {
    top: 74%;
    gap: 80px;
  }
  .our-blok .but-get {
    margin: 63px 0px 3px 2px;
  }
}
@media (max-width: 400px) {
  .header, .bloks, .footer {
    max-width: 400px;
  }
  h2 {
    font-size: calc(12.5vw - 15px);
  }
  .background .one-section {
    gap: 90px;
  }
  .background .one-section .right {
    margin: 0px 0px 0px 17px;
  }
  .background .one-section .left .wrap {
    align-items: center;
    margin: 92px 0px 0px 0px;
    gap: 40px;
  }
  .background .one-section .left .wrap .title {
    max-width: 272px;
    align-items: center;
  }
  .background .one-section .left .wrap .title h1 {
    font-size: calc(17.5vw - 29px);
    text-align: center;
    letter-spacing: 0.06em;
  }
  .background .one-section .left .wrap .text {
    width: 300px;
    text-align: center;
  }
  .about-bloks {
    height: 974px;
  }
  .about {
    display: flex;
    gap: 15vw;
    height: 974px;
    margin: 0px 0px 0px 0px;
  }
  .about .about-left img {
    width: 76vw;
  }
  .about .about-right {
    margin: -6px 0px 0px 0px;
    gap: 25px;
  }
  .about .about-right .about-h2 {
    height: 100%;
  }
  .about .about-right .about-h2 h2 {
    text-align: center;
  }
  .about .about-right .one-text, .about .about-right .two-text {
    text-align: center;
  }
  .our-pets {
    height: 791px;
    margin: -2px 0px 0px 0px;
  }
  .our-blok {
    gap: 42px;
    height: 707px;
    padding-top: 43px;
    padding-bottom: 0px;
  }
  .our-blok .our-h2 {
    width: 300px;
  }
  .our-blok .our-h2 h2 {
    margin: 8px 0px 0px 0px;
  }
  .our-blok .carts {
    gap: 54px;
    margin: 0px 0px 0px 0px;
    max-width: calc(100vw - 40px);
  }
  .our-blok .carts .cart-wrap .cart {
    padding: 0px 0px 3px 0px;
  }
  .our-blok .slid {
    top: 80.5%;
  }
  .our-blok .but-get {
    margin: 66px 0px 3px 0px;
  }
  .help {
    margin: 44px auto 7px auto;
  }
  .help .help-blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
  }
  .help .help-blok .help-h2 {
    max-width: 220px;
    margin: 0px 0px -20px 0px;
  }
  .help .help-blok .help-icon {
    gap: 6vw;
    height: 100%;
    margin: -2px 0px 100px 0px;
  }
  .help .help-blok .help-icon div {
    margin: 60px 0px -69px 0px;
  }
  .help .help-blok .help-icon div svg {
    width: 50px;
    height: 50px;
  }
  .help .help-blok .help-icon div p {
    font-size: 5vw;
  }
  .contacts1 .contacts-blok {
    gap: 60px;
    height: 542px;
    margin: 0px 10px 0px 10px;
  }
  .contacts1 .contacts-blok .left {
    margin: 0px 20px 0px 20px;
  }
  .contacts1 .contacts-blok .right {
    gap: 20px;
    max-width: 380px;
    align-items: center;
  }
  .contacts1 .contacts-blok .right .text-h2 {
    max-width: 300px;
    margin: 15px 0px 0px 0px;
  }
  .contacts1 .contacts-blok .right .text-h2 h2 {
    margin: 0px;
    text-align: center;
  }
  .contacts1 .contacts-blok .right .text2 {
    margin: 0px 0px 4px 0px;
  }
  .contacts1 .contacts-blok .right .text2 p {
    font-size: 14px;
  }
  .contacts1 .contacts-blok .right .num-cart {
    width: 79vw;
  }
  .contacts1 .contacts-blok .right .num-cart .num a {
    font-size: 4.7vw;
  }
  .footer {
    gap: 40px;
    padding: 0px 30px 0px 30px;
    margin: 24px 0px 0px 3px;
    text-align: center;
  }
  .footer .blok1 {
    margin: -1px 0px 0px 0px;
  }
  .footer .blok1 .title p {
    font-size: calc(12.5vw - 15px);
  }
  .footer .blok1 .tel {
    width: 241px;
  }
  .footer .blok1 .email, .footer .blok1 .tel {
    max-width: 251px;
    margin: 0px auto 0px auto;
  }
  .footer .blok2 {
    gap: 40px;
    max-width: 302px;
    margin: 0px 0px 0px -2px;
  }
  .footer .blok2 .title2 {
    margin: 0px auto 0px auto;
  }
  .footer .blok2 .title2 p {
    font-size: calc(12.5vw - 15px);
    width: 270px;
  }
  .footer .blok2 .location a {
    justify-content: start;
    width: 300px;
  }
  .footer .blok2 .location a p {
    text-align: start;
  }
  .footer .img-fot {
    margin: 0px 10px 0px 10px;
  }
}
@media (max-width: 320px) {
  h2 {
    font-size: 25px;
  }
  .background .one-section .right {
    margin: 0px -10px 0px 26px;
  }
  .background .one-section .left .wrap {
    gap: 0px;
  }
  .background .one-section .left .wrap .title {
    width: 230px;
  }
  .background .one-section .left .wrap .title h1 {
    font-size: 25px;
    letter-spacing: 0.06em;
  }
  .background .one-section .left .wrap .text {
    margin: 41px 0px 43px 0px;
  }
  .about {
    gap: 45px;
    margin: 0px 0px 0px 0px;
  }
  .about .about-left img {
    margin: 0px 0px 0px 0px;
    width: 260px;
  }
  .about .about-right {
    margin: -6px 0px 0px 0px;
    gap: 23px;
    height: 494px;
  }
  .about .about-right .about-h2 {
    height: 100%;
    margin: 5px 0px -6px 0px;
  }
  .about .about-right .about-h2 h2 {
    text-align: center;
  }
  .about .about-right .one-text, .about .about-right .two-text {
    width: 270px;
    text-align: justify;
    padding: 0px 10px 0px 10px;
  }
  .about .about-right .one-text {
    margin: 7px 0px 0px 0px;
  }
  .our-blok {
    gap: 43px;
    padding-top: 42px;
  }
  .our-blok .carts .cart-wrap .cart {
    gap: 28px;
  }
  .our-blok .but-get {
    margin: 63px 0px 3px 0px;
  }
  .help .help-blok .help-icon {
    width: 290px;
    height: 555px;
    justify-content: start;
    gap: 30px;
  }
  .help .help-blok .help-icon div p {
    font-size: 15px;
    margin: 20px 0px 5px 0px;
  }
  .contacts1 .contacts-blok {
    gap: 42px;
    height: 539px;
  }
  .contacts1 .contacts-blok .right .text-h2 {
    max-width: 220px;
    margin: -1px 0px 4px 0px;
  }
  .contacts1 .contacts-blok .right .text2 {
    margin: 0px 0px 2px 0px;
    width: 273px;
  }
  .contacts1 .contacts-blok .right .text2 p {
    font-size: 13.2px;
  }
  .contacts1 .contacts-blok .right .num-cart {
    width: 251px;
    margin: 3px 0px 0px 0px;
  }
  .contacts1 .contacts-blok .right .num-cart .num a {
    font-size: 15px;
  }
  .contacts1 .contacts-blok .right .text3 {
    width: 280px;
    margin: 0px 0px 0px -2px;
  }
  .contacts1 .contacts-blok .right .text3 p {
    text-align: justify;
    font-size: 12px;
  }
  .footer {
    height: 809px;
    gap: 0px;
    padding: 0px 32px 0px 28px;
    margin: 0px 0px 0px 3px;
    text-align: center;
  }
  .footer .blok1 {
    margin: 17px 0px 0px 0px;
  }
  .footer .blok1 .title p {
    font-size: 25px;
  }
  .footer .blok1 .tel {
    width: 241px;
  }
  .footer .blok1 .email, .footer .blok1 .tel {
    max-width: 251px;
    margin: 0px auto 0px auto;
  }
  .footer .blok2 {
    gap: 40px;
    max-width: 302px;
    margin: -5px 0px 0px -2px;
  }
  .footer .blok2 .title2 {
    margin: 17px 29px -2px 32px;
  }
  .footer .blok2 .title2 p {
    font-size: 25px;
    width: 270px;
  }
  .footer .blok2 .location a {
    justify-content: start;
    width: 300px;
    margin: 0px 0px 0px 2px;
  }
  .footer .blok2 .location a p {
    text-align: start;
  }
  .footer .img-fot {
    height: 269px;
    margin: 0px 10px 0px 10px;
  }
  .footer .img-fot img {
    margin: 0px 0px 0px 0px;
  }
}/*# sourceMappingURL=ourPetsStyle.css.map */