@font-face {
  font-family: "Georgia Regular";
  src: url(../assets/fonts/georgia/georgia-regular.ttf);
}
@font-face {
  font-family: "Arial Regular";
  src: url(../assets/fonts/arial/arial-regular.ttf);
}
@font-face {
  font-family: "Georgia Italic";
  src: url(../assets/fonts/georgia/georgia-bold-italic.ttf);
}
@font-face {
  font-family: "Arial Italic";
  src: url(../assets/fonts/arial/arial-italic.ttf);
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Georgia Regular", "Arial Regular", sans-serif;
  height: 100vh;
  box-sizing: border-box;
  margin: 0px auto;
}

.header, .bloks, .footer {
  max-width: 1200px;
  margin: 0px auto;
}

h2 {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  padding: 30px 0px 0px 0px;
}
.header a {
  text-decoration: none;
}
.header a:hover .logo .top p {
  color: #fddcc4;
}
.header a:hover .logo .bottom p {
  color: #fafafa;
}
.header a .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
  width: 186px;
  height: 60px;
}
.header a .logo .top .textop {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0px;
}
.header a .logo .bottom .textbot {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #fff;
  margin: 0px;
}
.header .menu {
  display: flex;
  gap: 36px;
}
.header .menu .li {
  list-style-type: none;
}
.header .menu .li a {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}
.header .menu .li a:hover {
  cursor: pointer;
  color: #fafafa;
  transition: 0.7s;
}
.header .menu .li a.dis {
  pointer-events: none;
  border-bottom: solid 3px #f1cdb3;
  padding: 5px 0px;
  color: #fafafa;
}

.main {
  margin: -90px 0px 0px 0px;
}

.background {
  background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(237.5% 311.8% at 0% 0%, rgb(94, 72, 58) 0%, rgb(38, 36, 37) 40%);
}
.background .one-section {
  display: flex;
  max-height: 908px;
  gap: 42px;
  margin: 0px auto;
  max-width: 1280px;
}
.background .one-section .left {
  display: flex;
}
.background .one-section .left .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 460px;
  min-height: 322px;
  gap: 42px;
  margin: 102px 0px 0px 31px;
}
.background .one-section .left .wrap .title {
  max-width: 310px;
  max-height: 114px;
}
.background .one-section .left .wrap .title h1 {
  font-family: "Georgia Regular";
  font-weight: 200;
  font-size: 44px;
  line-height: 130%;
  color: #fff;
  margin: 0px;
}
.background .one-section .left .wrap .text {
  max-width: 460px;
  max-height: 72px;
}
.background .one-section .left .wrap .text p {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  margin: 0px;
}
.background .one-section .left .wrap .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  padding: 0px 0px;
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  margin: 0px;
  border: black;
  text-decoration: none;
}
.background .one-section .left .wrap .button:hover {
  cursor: pointer;
  background: #fddcc4;
  transition: 0.7s;
}
.background .one-section .right {
  display: flex;
  align-items: end;
  height: 908px;
}
.background .one-section .right img {
  width: 100%;
}

.about-bloks {
  text-align: center;
  height: 588px;
}

.about {
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
  height: 408px;
  margin: 80px 0px 0px 0px;
}
.about .about-left img {
  width: 100%;
}
.about .about-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.about .about-right .about-h2 {
  max-width: 370px;
  height: 90px;
}
.about .about-right .about-h2 h2 {
  text-align: start;
  margin: 0px;
}
.about .about-right .one-text, .about .about-right .two-text {
  font-family: "Arial Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
  max-width: 430px;
  text-align: left;
}
.about .about-right .one-text p, .about .about-right .two-text p {
  margin: 0px;
}

.our-pets {
  display: flex;
  justify-content: center;
  background: #f6f6f6;
  margin: -76px 0px 0px 4px;
}

.our-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 697px;
  margin: 77px 0px 100px 0px;
}
.our-blok .our-h2 {
  max-width: 400px;
}
.our-blok .our-h2 h2 {
  margin: 5px 0px 0px 0px;
}
.our-blok .carts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 54px;
  margin: -3px 0px 0px 0px;
}
.our-blok .carts svg {
  margin: 2px 0px 0px 0px;
  transition: 0.7s;
}
.our-blok .carts svg:hover {
  cursor: pointer;
  border-radius: 100%;
  background: #fddcc4;
  stroke: #fddcc4;
}
.our-blok .carts .svg2 {
  margin: 2px 4px 0px 0px;
  order: 5;
}
.our-blok .carts .cart-wrap {
  display: flex;
  gap: 90px;
}
.our-blok .carts .cart-wrap .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 9px;
  padding: 0px 0px 3px 0px;
  width: 270px;
  height: 435px;
  gap: 30px;
  background: #fafafa;
}
.our-blok .carts .cart-wrap .cart:hover {
  background: #fff;
  transition: 0.7s;
  cursor: pointer;
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.our-blok .carts .cart-wrap .cart:hover .text-our button {
  background: #fddcc4;
  border-color: #fddcc4;
  transition: 0.7s;
}
.our-blok .carts .cart-wrap .cart .img-cart {
  max-width: 270px;
  max-height: 270px;
  border-radius: 9px 9px 0 0;
}
.our-blok .carts .cart-wrap .cart .text-our {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.our-blok .carts .cart-wrap .cart .text-our .name-dog {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
}
.our-blok .carts .cart-wrap .cart .text-our .name-dog p {
  margin: 0px;
}
.our-blok .carts .cart-wrap .cart .text-our button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 15px 43px;
  width: 188px;
  height: 52px;
  background: #fafafa;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.our-blok .carts .cart-wrap .cart .text-our button:hover {
  cursor: pointer;
  background: #fddcc4;
}
.our-blok .but-get {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2px 0px 3px 0px;
}
.our-blok .but-get .but {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: solid 1px #f1cdb3;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;
}
.our-blok .but-get .but:hover {
  cursor: pointer;
  background: #fddcc4;
  transition: 0.7s;
}
.our-blok .but-get .but p {
  margin: 0px;
}

.help {
  display: flex;
  justify-content: center;
  margin: 79px auto 7px auto;
}
.help .help-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 4px;
}
.help .help-blok .help-h2 {
  max-width: 308px;
  margin: 0px 0px 60px 0px;
}
.help .help-blok .help-h2 h2 {
  margin: 0px;
  letter-spacing: 0.056em;
}
.help .help-blok .help-icon {
  display: flex;
  gap: 120px;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  max-width: 1029px;
  margin: -2px 0px 150px 0px;
}
.help .help-blok .help-icon div {
  text-align: center;
  margin: 0px 0px -69px 0px;
}
.help .help-blok .help-icon div:hover {
  cursor: pointer;
}
.help .help-blok .help-icon div:hover svg {
  fill: rgb(226, 99, 99);
  transition: 0.7s;
}
.help .help-blok .help-icon div p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  margin: 28px 0px 2px 0px;
}

.contacts1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 462px;
  background: #f6f6f6;
  margin: 17px 0px 2px 2px;
}
.contacts1 .contacts-blok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: -16px 0px 0px 0px;
}
.contacts1 .contacts-blok .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 380px;
}
.contacts1 .contacts-blok .right .text-h2 {
  max-width: 300px;
}
.contacts1 .contacts-blok .right .text-h2 h2 {
  margin: 0px;
  text-align: start;
}
.contacts1 .contacts-blok .right .text2 p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0px;
}
.contacts1 .contacts-blok .right .num-cart {
  display: flex;
  flex-direction: row;
  border-radius: 9px;
  padding: 9px 15px 11px 15px;
  width: 319px;
  height: 23px;
  background: #f1cdb3;
  margin: 0px 0px 0px 0px;
}
.contacts1 .contacts-blok .right .num-cart:hover {
  cursor: pointer;
  background: #fddcc4;
  transition: 0.7s;
}
.contacts1 .contacts-blok .right .num-cart .num {
  display: flex;
  align-items: center;
  width: 319px;
  gap: 14px;
}
.contacts1 .contacts-blok .right .num-cart .num a {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0px;
  text-decoration: none;
}
.contacts1 .contacts-blok .right .text3 p {
  font-family: "Arial Regular";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #b2b2b2;
  margin: 0px;
}

.foot {
  display: flex;
  justify-content: center;
  background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(279.89% 3373.65% at 0% 0%, rgb(81, 61, 47) 0%, rgb(20, 20, 28) 40%);
}

.footer {
  display: flex;
  align-items: center;
  gap: 160px;
  padding: 0px 30px 0px 30px;
  margin: 39px 0px 0px 3px;
}
.footer .blok1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 279px;
  margin: -1px 0px 42px 0px;
}
.footer .blok1 .title, .footer .blok1 .title2 {
  display: flex;
}
.footer .blok1 .title p, .footer .blok1 .title2 p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #fff;
  margin: 0px;
}
.footer .blok1 .email, .footer .blok1 .tel {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 251px;
}
.footer .blok1 .email a, .footer .blok1 .tel a {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 251px;
  text-decoration: none;
}
.footer .blok1 .email a p, .footer .blok1 .tel a p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0px;
}
.footer .blok1 .email:hover, .footer .blok1 .tel:hover {
  cursor: pointer;
}
.footer .blok1 .email:hover p, .footer .blok1 .tel:hover p {
  color: #fafafa;
  transition: 0.7s;
}
.footer .blok1 .email:hover svg, .footer .blok1 .tel:hover svg {
  fill: #fafafa;
  transition: 0.7s;
}
.footer .blok2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 302px;
  margin: 0px 0px 43px -2px;
}
.footer .blok2 .title2 {
  display: flex;
}
.footer .blok2 .title2 p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.059em;
  color: #fff;
  margin: 0px;
}
.footer .blok2 .location {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 302px;
}
.footer .blok2 .location a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 302px;
  text-decoration: none;
}
.footer .blok2 .location a p {
  font-family: "Georgia Regular";
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0px;
}
.footer .img-fot {
  max-height: 310px;
}

@media (max-width: 1270px) {
  .header, .bloks, .footer {
    max-width: 100%;
    margin: 0px 30px;
  }
  .background .one-section {
    padding-top: 1%;
  }
  .background .one-section .right {
    height: 71vw;
  }
  .our-blok {
    height: 100%;
    gap: 4vw;
    padding-top: 70px;
    padding-bottom: 90px;
  }
  .our-blok .carts {
    max-width: 100%;
    gap: 4vw;
    margin: 0px 0px 0px 0px;
  }
  .our-blok .carts .cart-wrap {
    gap: 8vw;
    width: 100%;
  }
  .our-blok .carts .cart-wrap .cart {
    width: 100%;
    height: 100%;
    padding-bottom: 3%;
  }
  .our-blok .carts .cart-wrap .cart .img-cart img {
    width: 100%;
  }
  .help {
    margin: 79px 30px 7px 30px;
  }
  .contacts1 .contacts-blok .left img {
    width: 100%;
  }
  .contacts1 .contacts-blok .right {
    flex-shrink: 15;
  }
  .footer {
    gap: calc(12vw - 60px);
    margin: 39px 0px 0px 0px;
  }
  .footer .blok1 {
    flex-shrink: 50;
  }
  .footer .blok2 {
    flex-shrink: 7;
  }
  .footer .img-fot {
    display: flex;
    align-self: flex-end;
    flex-shrink: 2;
  }
  .footer .img-fot img {
    width: 100%;
  }
}
@media (max-width: 950px) {
  .background .one-section .left .wrap .title {
    max-height: 171px;
  }
  .background .one-section .left .wrap .text {
    max-height: 96px;
  }
  .background .one-section .right {
    height: 71vw;
  }
  .our-blok {
    gap: 60px;
  }
  .our-blok .carts {
    max-width: 708px;
    gap: 12px;
  }
  .our-blok .carts .cart-wrap {
    overflow: hidden;
    gap: 40px;
    width: 708px;
  }
  .our-blok .carts .cart-wrap .cart .img-cart img {
    width: 270px;
  }
  .help {
    margin: 80px 0px 7px 0px;
  }
  .help .help-blok {
    margin: 0px 30px 0px 30px;
  }
  .help .help-blok .help-h2 {
    margin: 0px 0px 60px 1.5px;
  }
  .help .help-blok .help-icon {
    gap: 60px;
  }
  .help .help-blok .help-icon div {
    width: 170px;
    margin: 0px 0px -8px 0px;
  }
  .contacts1 .contacts-blok {
    margin: 0px 30px 0px 30px;
  }
  .contacts1 .contacts-blok .left img {
    width: 100%;
  }
  .contacts1 .contacts-blok .right {
    flex-shrink: 15;
  }
  .footer {
    gap: calc(12vw - 60px);
    margin: 39px 0px 0px 0px;
  }
  .footer .blok1 {
    flex-shrink: 50;
  }
  .footer .blok2 {
    flex-shrink: 7;
  }
  .footer .img-fot {
    display: flex;
    align-self: flex-end;
    flex-shrink: 2;
  }
  .footer .img-fot img {
    width: 100%;
  }
}
@media (max-width: 855px) {
  .background .one-section {
    flex-direction: column;
    max-height: 1135px;
    max-height: 1158px;
    margin: 0px 30px;
  }
  .background .one-section .left {
    justify-content: center;
    margin: 41.2px 0px 0px 0px;
  }
  .background .one-section .left .wrap {
    justify-content: center;
  }
  .background .one-section .left .wrap .make-but {
    display: flex;
    justify-content: center;
  }
  .background .one-section .left .wrap .make-but .button {
    margin: -1px 0px 0px 0px;
  }
  .background .one-section .right {
    display: flex;
    justify-content: end;
    height: 908px;
  }
  .background .one-section .right img {
    max-width: 569px;
  }
  .about-bloks {
    height: 1048px;
  }
  .about {
    flex-direction: column;
    gap: 80px;
    height: 868px;
  }
  .about .about-left {
    order: 2;
  }
  .help {
    margin: 80px 0px 7px 0px;
  }
  .help .help-blok {
    margin: 0px 0px 0px 0px;
  }
  .help .help-blok .help-h2 {
    margin: 0px 0px 60px 1.5px;
  }
  .help .help-blok .help-icon {
    gap: 60px;
  }
  .help .help-blok .help-icon div {
    width: 170px;
    margin: 0px 0px -8px 0px;
  }
  .contacts1 {
    height: 783px;
  }
  .contacts1 .contacts-blok {
    flex-direction: column;
  }
  .footer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 13vw;
  }
}
@media (max-width: 768px) {
  .header {
    width: 708px;
  }
  .header .menu {
    gap: 36.1px;
  }
  .background .one-section {
    max-height: 1158px;
    margin: 0px 30px;
  }
  .background .one-section .left {
    margin: 41.2px 0px 0px 0px;
  }
  .background .one-section .left .wrap {
    margin: 102px 0px 0px 0px;
  }
  .background .one-section .left .wrap .make-but {
    display: flex;
    justify-content: center;
  }
  .background .one-section .left .wrap .make-but .button {
    margin: -1px 0px 0px 0px;
  }
  .background .one-section .right {
    justify-content: end;
  }
  .about-bloks {
    height: 1048px;
  }
  .about {
    gap: 80px;
    height: 1048px;
    margin: -9px 0px 0px 0px;
  }
  .our-pets {
    margin: 10px 0px 0px 0px;
  }
  .our-blok {
    gap: 60px;
    height: 697px;
    margin: 8px 0px 10px 0px;
  }
  .our-blok .our-h2 {
    margin: 0px 0px 0px 0px;
  }
  .our-blok .carts .svg2 {
    margin: 2px 1px 0px 0px;
  }
  .our-blok .carts .cart-wrap .cart {
    padding: 0px 0px 2px 0px;
    height: 435px;
  }
  .help {
    margin: 80px 0px 7px 0px;
  }
  .help .help-blok {
    margin: 0px 0px 0px 0px;
  }
  .help .help-blok .help-h2 {
    margin: 1px 0px 59px 1.4px;
  }
  .help .help-blok .help-icon {
    gap: 60px;
    margin: -2px 0px 98px 0px;
  }
  .help .help-blok .help-icon div {
    width: 170px;
    margin: 0px 0px -8px 0px;
  }
  .contacts1 {
    height: 783px;
    margin: 0px 0px 1px 2px;
  }
  .contacts1 .contacts-blok {
    gap: 60px;
    margin: -16px 2px 0px 0px;
  }
  .contacts1 .contacts-blok .left {
    order: 2;
  }
  .footer {
    gap: 61px;
    margin: 30.5px 0px 0px 0px;
  }
  .footer .img-fot {
    margin: -38px 0px 0px 0px;
  }
}
@media (max-width: 50px) {
  .header {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 10;
    padding: 30px 0px 0px 0px;
  }
  .header a {
    text-decoration: none;
  }
  .header a:hover .logo .top p {
    color: #fddcc4;
  }
  .header a:hover .logo .bottom p {
    color: #fafafa;
  }
  .header a .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    width: 186px;
    height: 60px;
  }
  .header a .logo .top .textop {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin: 0px;
  }
  .header a .logo .bottom .textbot {
    font-family: "Arial Regular";
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #fff;
    margin: 0px;
  }
  .header .menu {
    display: flex;
    gap: 36px;
  }
  .header .menu .li {
    list-style-type: none;
  }
  .header .menu .li a {
    font-family: "Arial Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    text-decoration: none;
  }
  .header .menu .li a:hover {
    cursor: pointer;
    color: #fafafa;
    transition: 0.7s;
  }
  .header .menu .li a.dis {
    pointer-events: none;
    border-bottom: solid 3px #f1cdb3;
    padding: 5px 0px;
    color: #fafafa;
  }
  .main {
    margin: -90px 0px 0px 0px;
  }
  .background {
    background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(237.5% 311.8% at 0% 0%, rgb(94, 72, 58) 0%, rgb(38, 36, 37) 40%);
  }
  .background .one-section {
    display: flex;
    max-height: 908px;
    gap: 42px;
    margin: 0px auto;
    max-width: 1280px;
  }
  .background .one-section .left {
    display: flex;
  }
  .background .one-section .left .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 460px;
    min-height: 322px;
    gap: 42px;
    margin: 102px 0px 0px 40px;
  }
  .background .one-section .left .wrap .title {
    max-width: 310px;
    max-height: 114px;
  }
  .background .one-section .left .wrap .title h1 {
    font-family: "Georgia Regular";
    font-weight: 200;
    font-size: 44px;
    line-height: 130%;
    color: #fff;
    margin: 0px;
  }
  .background .one-section .left .wrap .text {
    max-width: 460px;
    max-height: 72px;
  }
  .background .one-section .left .wrap .text p {
    font-family: "Arial Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #cdcdcd;
    margin: 0px;
  }
  .background .one-section .left .wrap .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 0px 0px;
    width: 207px;
    height: 52px;
    background: #f1cdb3;
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin: 0px;
    border: black;
    text-decoration: none;
  }
  .background .one-section .left .wrap .button:hover {
    cursor: pointer;
    background: #fddcc4;
    transition: 0.7s;
  }
  .background .one-section .right {
    display: flex;
    align-items: end;
    height: 908px;
  }
  .background .one-section .right img {
    width: 100%;
  }
  .about-bloks {
    text-align: center;
    height: 588px;
  }
  .about {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    height: 408px;
    margin: 80px 0px 0px 0px;
  }
  .about .about-left img {
    width: 100%;
  }
  .about .about-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .about .about-right .about-h2 {
    max-width: 370px;
    height: 90px;
  }
  .about .about-right .about-h2 h2 {
    text-align: start;
    margin: 0px;
  }
  .about .about-right .one-text, .about .about-right .two-text {
    font-family: "Arial Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
    max-width: 430px;
    text-align: left;
  }
  .about .about-right .one-text p, .about .about-right .two-text p {
    margin: 0px;
  }
  .our-pets {
    display: flex;
    justify-content: center;
    background: #f6f6f6;
    margin: -76px 0px 0px 4px;
  }
  .our-blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 697px;
    margin: 77px 0px 100px 0px;
  }
  .our-blok .our-h2 {
    max-width: 400px;
  }
  .our-blok .our-h2 h2 {
    margin: 5px 0px 0px 0px;
  }
  .our-blok .carts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
    margin: -3px 0px 0px 0px;
  }
  .our-blok .carts svg {
    margin: 2px 0px 0px 0px;
    transition: 0.7s;
  }
  .our-blok .carts svg:hover {
    cursor: pointer;
    border-radius: 100%;
    background: #fddcc4;
    stroke: #fddcc4;
  }
  .our-blok .carts .svg2 {
    margin: 2px 4px 0px 0px;
    order: 5;
  }
  .our-blok .carts .cart-wrap {
    display: flex;
    gap: 90px;
  }
  .our-blok .carts .cart-wrap .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 9px;
    padding: 0px 0px 3px 0px;
    width: 270px;
    height: 435px;
    gap: 30px;
    background: #fafafa;
  }
  .our-blok .carts .cart-wrap .cart:hover {
    background: #fff;
    transition: 0.7s;
    cursor: pointer;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  }
  .our-blok .carts .cart-wrap .cart:hover .text-our button {
    background: #fddcc4;
    border-color: #fddcc4;
    transition: 0.7s;
  }
  .our-blok .carts .cart-wrap .cart .img-cart {
    max-width: 270px;
    max-height: 270px;
    border-radius: 9px 9px 0 0;
  }
  .our-blok .carts .cart-wrap .cart .text-our {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .our-blok .carts .cart-wrap .cart .text-our .name-dog {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
  }
  .our-blok .carts .cart-wrap .cart .text-our .name-dog p {
    margin: 0px;
  }
  .our-blok .carts .cart-wrap .cart .text-our button {
    border: 2px solid #f1cdb3;
    border-radius: 100px;
    padding: 15px 43px;
    width: 188px;
    height: 52px;
    background: #fafafa;
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
  }
  .our-blok .carts .cart-wrap .cart .text-our button:hover {
    cursor: pointer;
    background: #fddcc4;
  }
  .our-blok .but-get {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2px 0px 3px 0px;
  }
  .our-blok .but-get .but {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: solid 1px #f1cdb3;
    width: 261px;
    height: 52px;
    background: #f1cdb3;
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    text-decoration: none;
  }
  .our-blok .but-get .but:hover {
    cursor: pointer;
    background: #fddcc4;
    transition: 0.7s;
  }
  .our-blok .but-get .but p {
    margin: 0px;
  }
  .help {
    display: flex;
    justify-content: center;
    margin: 79px auto 7px auto;
  }
  .help .help-blok {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 4px;
  }
  .help .help-blok .help-h2 {
    max-width: 308px;
    margin: 0px 0px 60px 0px;
  }
  .help .help-blok .help-h2 h2 {
    margin: 0px;
    letter-spacing: 0.056em;
  }
  .help .help-blok .help-icon {
    display: flex;
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    max-width: 1029px;
    margin: -2px 0px 150px 0px;
  }
  .help .help-blok .help-icon div {
    text-align: center;
    margin: 0px 0px -69px 0px;
  }
  .help .help-blok .help-icon div:hover {
    cursor: pointer;
  }
  .help .help-blok .help-icon div:hover svg {
    fill: rgb(226, 99, 99);
    transition: 0.7s;
  }
  .help .help-blok .help-icon div p {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #545454;
    margin: 28px 0px 2px 0px;
  }
  .contacts1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 462px;
    background: #f6f6f6;
    margin: 17px 0px 2px 2px;
  }
  .contacts1 .contacts-blok {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: -16px 0px 0px 0px;
  }
  .contacts1 .contacts-blok .right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 380px;
  }
  .contacts1 .contacts-blok .right .text-h2 {
    max-width: 300px;
  }
  .contacts1 .contacts-blok .right .text-h2 h2 {
    margin: 0px;
    text-align: start;
  }
  .contacts1 .contacts-blok .right .text2 p {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0px;
  }
  .contacts1 .contacts-blok .right .num-cart {
    display: flex;
    flex-direction: row;
    border-radius: 9px;
    padding: 9px 15px 11px 15px;
    width: 319px;
    height: 23px;
    background: #f1cdb3;
    margin: 0px 0px 0px 0px;
  }
  .contacts1 .contacts-blok .right .num-cart:hover {
    cursor: pointer;
    background: #fddcc4;
    transition: 0.7s;
  }
  .contacts1 .contacts-blok .right .num-cart .num {
    display: flex;
    align-items: center;
    width: 319px;
    gap: 14px;
  }
  .contacts1 .contacts-blok .right .num-cart .num a {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0px;
    text-decoration: none;
  }
  .contacts1 .contacts-blok .right .text3 p {
    font-family: "Arial Regular";
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #b2b2b2;
    margin: 0px;
  }
  .foot {
    display: flex;
    justify-content: center;
    background: url("../assets/img/noise_transparent@2x.png"), radial-gradient(279.89% 3373.65% at 0% 0%, rgb(81, 61, 47) 0%, rgb(20, 20, 28) 40%);
  }
  .footer {
    display: flex;
    align-items: center;
    gap: 160px;
    padding: 0px 30px 0px 30px;
    margin: 39px 0px 0px 3px;
  }
  .footer .blok1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 279px;
    margin: -1px 0px 42px 0px;
  }
  .footer .blok1 .title, .footer .blok1 .title2 {
    display: flex;
  }
  .footer .blok1 .title p, .footer .blok1 .title2 p {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.059em;
    color: #fff;
    margin: 0px;
  }
  .footer .blok1 .email, .footer .blok1 .tel {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 251px;
  }
  .footer .blok1 .email a, .footer .blok1 .tel a {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 251px;
    text-decoration: none;
  }
  .footer .blok1 .email a p, .footer .blok1 .tel a p {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin: 0px;
  }
  .footer .blok1 .email:hover, .footer .blok1 .tel:hover {
    cursor: pointer;
  }
  .footer .blok1 .email:hover p, .footer .blok1 .tel:hover p {
    color: #fafafa;
    transition: 0.7s;
  }
  .footer .blok1 .email:hover svg, .footer .blok1 .tel:hover svg {
    fill: #fafafa;
    transition: 0.7s;
  }
  .footer .blok2 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 302px;
    margin: 0px 0px 43px -2px;
  }
  .footer .blok2 .title2 {
    display: flex;
  }
  .footer .blok2 .title2 p {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.059em;
    color: #fff;
    margin: 0px;
  }
  .footer .blok2 .location {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 302px;
  }
  .footer .blok2 .location a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 302px;
    text-decoration: none;
  }
  .footer .blok2 .location a p {
    font-family: "Georgia Regular";
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #f1cdb3;
    margin: 0px;
  }
  .footer .img-fot {
    max-height: 310px;
  }
}/*# sourceMappingURL=style.css.map */