@media(hover:hover) {
  .wrap {
    .player {
      .playerImg {
        .auto {
          .autoplayno {
            svg {
              &:hover {
                animation: au 2s infinite;
                cursor: pointer;
                fill: rgb(255, 255, 255);
              }
            }
          }
  
          .autoplay1 {
            svg {
              &:hover {
                animation: au 2s infinite;
                cursor: pointer;
                fill: rgb(255, 255, 255);
              }
            }
          }
  
          .autoplay {
            svg {
              &:hover {
                animation: au 2s infinite;
                cursor: pointer;
                fill: rgb(255, 255, 255);
              }
            }
          }
          @keyframes au {
            0% {
              scale: (0.9);
              box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5), 0 0 0 7px rgba(249, 224, 0, 0.5);
            }
            50% {
              scale: (1);
              box-shadow: inset 0 0 0 10px rgb(0, 0, 0), 0 0 0 2px rgba(249, 224, 0, 0.3);
            }
            100% {
              scale: (0.9);
              box-shadow: inset  0 0 0 3px rgba(0, 0, 0, 0.5), 0 0 0 7px rgba(249, 224, 0, 0.5);
            }
          } 
        }
      }
      .controls {
        .lineProgress {
          .timeProgress::-webkit-slider-thumb { 
            &:hover {
              box-shadow:inset 0 0 0 8px green;
            }
          }
        }
  
        .buttons {
          div {
            svg {
              &:hover {
                cursor: pointer;
                fill: green;
                animation: ar 2s infinite;
  
                @keyframes ar {
                  0% {
                    scale: (1.1);
                    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1);
    
                  }
                  50% {
                    scale: (1.1);
                    box-shadow: inset 0 0 0 11px rgba(255, 255, 255, 0.5);
                  }
                  100% {
                    scale: (1.1);
                    box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.5);
                  }
                }
              }
            }
          }
        }
      }
    }
    .footer {
      .rs {
        svg {
          &:hover {
            animation: foo 2s infinite;
            .letter {
              fill:rgb(49, 179, 6)
            }
            @keyframes foo {
              0% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
        
              }
              50% {
                scale: (1);
                box-shadow:  0 0 0 7px green, inset 0 0 100px rgb(49, 179, 6);
              }
              100% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
              }
            }
          }
        }
      }
      .git {
        svg {
          &:hover {
            animation: foo 2s infinite;
            @keyframes foo {
              0% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
        
              }
              50% {
                scale: (1);
                box-shadow:  0 0 0 7px green, inset 0 0 100px rgb(49, 179, 6);
              }
              100% {
                scale: (0.9);
                box-shadow:  0 0 0 1px green, inset 0 0 100px rgb(49, 179, 6);
              }
            }
          }
        }
      }
    }
  }
}


body {
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.wrap {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  
  .wrapImg {
    img {
      width: 100vw;
      height: 100vh;
      filter: blur(5px);
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  .wrapImg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(116, 109, 109, 0.1); 
    z-index: 2;
  }

  .player {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 300px;
    height: 400px;
    border: 2px solid rgb(255, 255, 255);
    z-index: 4;
    border-radius: 10%;
    overflow: hidden;
    animation: star 2s infinite;


    @keyframes star { 
      0% {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
      }

      50% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2);
      }

      100% {
        box-shadow: 0 0 0 1px rgba(255, 255, 255, 0);
      }
    }

    .playerImg {
      img {
        width: 100%;
        height: 220px;
      }

      .auto {
        position: absolute;
        right: 10px;
        top: 48%;

        .autoplayno {
          svg {
            width: 20px;
            height: 20px;
            animation: aut 2s infinite;
            border-radius: 30%;
            fill:red;
          }
        }

        .autoplay1 {
          svg {
            width: 20px;
            height: 20px;
            animation: aut 2s infinite;
            border-radius: 30%;
            fill: green;
          }
        }

        .autoplay {
          svg {
            width: 20px;
            height: 20px;
            animation: aut 2s infinite;
            border-radius: 30%;
            fill: green;
          }
        } 

        @keyframes aut {
          0% {
            scale: (0.9);
            box-shadow: inset 0 0 0 3px rgba(255, 253, 253, 0.5), 0 0 0 7px rgba(186, 33, 33, 0.5);
          }
          50% {
            scale: (1);
            box-shadow: inset 0 0 0 10px rgba(253, 252, 252, 1), 0 0 0 2px rgba(186, 33, 33, 0.3);
          }
          100% {
            scale: (0.9);
            box-shadow: inset  0 0 0 3px rgba(255, 255, 255, 0.5), 0 0 0 7px rgba(186, 33, 33, 0.5);
          }
        }
      }
    }

    .controls {
      .lineProgress {
        display: flex;
        gap: 10px;
        margin: 10px 0 0 0;
        

        .timeNow {
          color: white;
        }

        .timeProgress {
          width: 190px;
          cursor: pointer;
          flex-grow: 1;
        }

        .timeProgress::-webkit-slider-thumb {
          border: 1px solid red;
          border-radius: 20px;
          cursor: pointer;
          box-shadow:inset 0 0 0 8px rgb(186, 33, 33); 
        }

        .timeAll {
          color: white;
        }
      }

      .buttons {
        display: flex;
        justify-content: center;
        gap: 40px;
        margin: 20px 0 0 0;

        div {
          svg {
            fill: white;
            width: 50px;
            height: 50px;
            box-shadow: inset 0 0 0 10px rgba(186, 33, 33, 0.5);
            border-radius: 50px;
            animation: arr 2s infinite;
            scale: (1);

            @keyframes arr {
              0% {
                scale: (0.9);
                box-shadow: inset 0 0 0 3px rgba(186, 33, 33, 0.1);

              }
              50% {
                scale: (1);
                box-shadow: inset 0 0 0 11px rgba(186, 33, 33, 0.5);
              }
              100% {
                scale: (0.9);
                box-shadow: inset 0 0 0 3px rgba(186, 33, 33, 0.5);
              }
            }
            &:active {
              fill:yellow;
            }

            .pause {
              margin: 10px 0 0 0;
            }
          }
        }
      }
      .titAudio {
        display: flex;
        position: relative;
        margin: 15px 0 0 0;

        .title {
          position: absolute;
          color: white;
          text-shadow: 1px 1px 3px  black;
          display: inline-block;
          white-space: nowrap;
          font-size: 25px;
          font-weight: 500;
          animation: title 15s infinite;
          user-select: none;
          
          @keyframes title {
            0% {
              transform: translate(300px);
              color: red;
            }
            70% {
              color: white;
              opacity: 0.7;
            }
            100% {
              transform: translate(-300px);
              opacity: 0;
            }
            
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    width: 96vw;
    position: absolute;
    align-items: center;
    z-index: 10;
    bottom: 5px;
    justify-content: space-between;

    .rs {
      svg {
        width: 50px;
        fill: rgba(65, 65, 65, 0.9);
        box-shadow: inset 0 0 100px white;
        border-radius: 50%;
        animation: foot 2s infinite;
      }
    }

    .year {
      color: white;
      text-shadow: 1px 1px 5px  black;
      font-size: 25px;
      user-select: none;
    }

    .git {
      svg {
        width: 50px;
        fill: rgba(65, 65, 65, 0.9);
        box-shadow: inset 0 0 100px white;
        border-radius: 50%;
        animation: foot 2s infinite;
      }
    }

    @keyframes foot {
      0% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgba(186, 33, 33, 0.1), inset 0 0 100px white;;

      }
      50% {
        scale: (1);
        box-shadow:  0 0 0 7px rgba(186, 33, 33, 0.5), inset 0 0 100px white;;
      }
      100% {
        scale: (0.9);
        box-shadow:  0 0 0 1px rgba(186, 33, 33, 0.2), inset 0 0 100px white;;
      }
    }
  }
}


